<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="yt">
        <div class="triangle"></div>
    </div>
    <div class="container">
        <h1 class="label">Question</h1>
        <div class="choices">
        </div>
        <div class="buttons">
            <button class="prev" onclick="sendAction('previous')">Previous</button>
            <button class="res" onclick="sendAction('reset')">Reset</button>
            <button class="next" onclick="sendAction('next')">Next</button>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('connected', {data: 'Client: Connected'})
        })

        socket.on('connected', function(response){
            console.log(response)
        })

        socket.on('reload', function(response){
            document.querySelector("h1.label").innerHTML = response['label']
            let radios = document.querySelector("div.choices")
            radios.innerHTML = ""
            if (response["choices"].length == 0){
                radios.style.display = "none"
            }else{
                radios.style.display = "grid"
                response["choices"].forEach(choice => {
                    let div = document.createElement('div')
                    div.classList.add("choice")
                    div.classList.add("col")
                    let label = document.createElement("h5")
                    label.textContent = choice
                    div.appendChild(label)
                    let radiobtn = document.createElement('input')
                    radiobtn.type = 'radio'
                    radiobtn.setAttribute("name", "choice")
                    radiobtn.value = choice
                    if (response['selected'] == choice){
                        radiobtn.checked = true
                    }
                    console.log(radiobtn)
                    div.appendChild(radiobtn)
                    radios.appendChild(div)
                });
            }
            if (response["state"] == "initial"){
                document.querySelector("button.prev").style.display = "none"
                document.querySelector("button.res").style.display = "none"
                document.querySelector("button.next").style.display = "block"
            }else if (response["state"] == "final"){
                document.querySelector("button.prev").style.display = "block"
                document.querySelector("button.res").style.display = "block"
                document.querySelector("button.next").style.display = "none"
            }else{
                document.querySelector("button.prev").style.display = "block"
                document.querySelector("button.res").style.display = "block"
                document.querySelector("button.next").style.display = "block"
            }
           console.log(response)
        })

        function sendAction(action){
            let answer = ""
            let choice = document.querySelector('input[name="choice"]:checked')
            if (choice){
                answer = choice.value
            }
            socket.emit('action', {'action': action, 'answer': answer})
        }

    </script>
    <script>
        var logo = document.querySelector("div.yt")
        var direction = 'se';
        var speed = 2;
        var xMax = window.innerWidth - boxLeft - boxWidth;
        var xMin = -boxLeft;
        var yMax = window.innerHeight - boxTop - boxWidth;
        var yMin = -boxTop;
        var boxWidth = logo.offsetWidth;
        var boxHeight = logo.offsetHeight;
        var boxTop = logo.offsetTop;
        var boxLeft = logo.offsetLeft;
        var timeout = null;
        var translateX = Math.floor((Math.random() * window.innerWidth) + 1)
        var translateY = Math.floor((Math.random() * window.innerHeight) + 1)
        function update(){
            xMin = -boxLeft;
            xMax = window.innerWidth - boxLeft - boxWidth;
            yMin = -boxTop;
            yMax = window.innerHeight - boxTop - boxHeight;
        }

        window.addEventListener('resize', function(argument) {
            clearTimeout(timeout);
            timeout = setTimeout(update, 100);
        }, false);

        setInterval(function() {
            update();
            move();
        }, 10);

        function move(){
            setDirection();
            logo.style.transform = 'translate3d(' + translateX + 'px, ' + translateY + 'px, 0)';
        }

        function setDirection(){
            switch(direction){
                case 'ne':
                    translateX += speed;
                    translateY -= speed;
                    break;
                case 'nw':
                    translateX -= speed;
                    translateY -= speed;
                    break;
                case 'se':
                    translateX += speed;
                    translateY += speed;
                    break;
                case 'sw':
                    translateX -= speed;
                    translateY += speed;
                    break;
            }
            setLimits();
        }

        function setLimits(){
            if (translateY <= yMin){
                if (direction == 'nw'){
                    direction = 'sw'
                } else if (direction == 'ne'){
                    direction = 'se'
                }
                //switchcolor
            }
            if (translateY >= yMax){
                if (direction == 'se'){
                    direction = 'ne';
                }else if (direction == 'sw'){
                    direction = 'nw';
                }
                //switchcolor
            }
            if (translateX <= xMin) {
                if (direction == 'nw') {
                    direction = 'ne';
                } else if (direction == 'sw') {
                    direction = 'se';
                }
                //switchColor();
            }
            if (translateX >= xMax) {
                if (direction == 'ne') {
                    direction = 'nw';
                } else if (direction == 'se') {
                    direction = 'sw';
                }
                //switchColor();
            }
        }
    </script>
</body>
</html>